.layui-layout-body {
    overflow: auto
}

.candlepower-user-display-show {
    display: block!important
}

.candlepower-login {
    position: relative;
    left: 0;
    top: 0;
    padding: 240px 0;
    min-height: 100%;
    box-sizing: border-box
}

.candlepower-login-main {
    width: 390px;
    margin: 0 auto;
    box-sizing: border-box
}

.candlepower-login-box {
    padding: 20px 3px
}

.candlepower-login-header {
    text-align: center;
    padding-right: 20px
}

.candlepower-login-header h2 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
    color: #000;
    font-size: 33px;
    color: rgba(0, 0, 0, .85);
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: relative;
    top: 2px
}

.candlepower-login-header p {
    font-weight: 300;
    color: #999
}

.candlepower-login-body .layui-form-item {
    position: relative;
    margin-bottom: 25px
}

.candlepower-login-icon {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2
}

.candlepower-login-body .layui-form-item .layui-input {
    padding-left: 38px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: 0
}

.candlepower-login-codeimg {
    max-height: 38px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box
}

.candlepower-login-other {
    position: relative;
    font-size: 0;
    line-height: 38px;
    padding-top: 20px
}

.candlepower-login-other>* {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 14px
}

.candlepower-login-other .layui-icon {
    position: relative;
    top: 2px;
    font-size: 26px
}

.candlepower-login-other a:hover {
    opacity: .8
}

.candlepower-user-jump-change {
    float: right
}

.candlepower-login-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .5)
}

.candlepower-login-footer span {
    padding: 0 5px
}

.candlepower-login-footer a {
    padding: 0 5px;
    color: rgba(0, 0, 0, .5)
}

.candlepower-login-footer a:hover {
    color: #000
}

.candlepower-login-main[bgimg] {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .05)
}

@media screen and (max-width:768px) {
    .candlepower-login {
        padding-top: 60px
    }
    .candlepower-login-main {
        width: 300px
    }
    .candlepower-login-box {
        padding: 10px
    }
}

.fl {
    float: left
}

.fr {
    float: right
}

.candlepower-login .logo {
    height: 44px;
    vertical-align: top;
    margin-right: 16px;
    border-style: none;
    display: inline
}

.candlepower-login .captcha {
    width: 97%;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    background-color: #fff
}

.candlepower-login .captcha img {
    width: 100%
}

.candlepower-login .layui-col-xs7 {
    width: 65%
}

.candlepower-login .captcha:hover,
.candlepower-login .item:hover,
.candlepower-login .layui-col-xs7:hover {
    border: 1px solid #1890ff
}

.candlepower-login .item,
.candlepower-login layui-col-xs7 {
    border: 1px solid #d9d9d9;
    border-radius: 5px
}

.candlepower-login .other-login .layui-icon {
    color: #d9d9d9
}

.candlepower-login .other-login a {
    margin-left: 6px;
    display: inline-block
}

.candlepower-login .other-login .layui-icon:hover {
    color: #1890ff
}

.candlepower-login .layui-col-xs3 {
    width: 33%
}

.layui-btn-fixed,
.candlepower-login .layui-btn {
    border-radius: 5px
}

.candlepower-login .layui-btn-fixed {
    height: 40px;
    line-height: 36px;
    width: 100%;
    padding: 1px
}

.layui-form-checkbox[lay-skin=primary]:hover i {
    border-color: #1890ff;
    color: #fff
}

.layui-form-checked[lay-skin=primary] i {
    border-color: #1890ff!important;
    background-color: #1890ff;
    color: #fff
}

.layui-form-pane .layui-form-checkbox {
    margin-left: 0;
}